
  .whole-container{
    display: flex;
    justify-content: center;
    background-image: url("../Resources/repeating-trees-background.png");
    background-size: cover;
    height: 100vh;
  }
  
  .main-container{
  display: flex;
  flex-direction: column;
  height: auto;
  width: 1000px;
  background-color: lightgrey;
  margin-bottom: 50px;
  padding-bottom: 50px;
  }

  #top-banner{
    display: flex;
    justify-content: center;
    background-color: rgb(101, 154, 197);
    margin-bottom: 75px;
  }
  
  .banner{
    border-style: double;
    border-radius: 30px;
    max-width: 950px;
    margin: 30px auto 50px auto;
    font-size: 36px;
    padding: 10px 20px;
   
    text-decoration-line: underline;
  }
  
  
  .body-container{
    /* height: auto; */
    /* width: auto; */
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-container{
    height: auto;
    width: 1000px;
    display: flex;
    justify-content: center;
  
  }

  .name{
    margin-bottom: 100px;
  }

  #name-label{
    font-size: 25px;
  }

  #full-name{
    font-size: 22px;
    width: 350px;
  }
  
  .email{
    margin-bottom: 100px;
  }
  
  #email-ID{
  font-size: 25px;
  margin-right: 5px;
  color: black;
  padding-right: 4px;
  }

  #email{
    font-size: 22px;
    width: 350px;
  }

  .subject{
    margin-bottom: 100px;
  }
  
  #subject-label{
    font-size: 25px;
  }

  #subject-input{
    font-size: 22px;
    width: 335px;
  }

  .comments{
    font-size: 25px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  
  .comments textarea{
    font-size: 20px;
  }
  
@media(max-width: 1100px){

  .main-container{
    width: 650px;
    height: 80%;
    }

}

@media(max-width: 750px){
  .main-container{
    width: 400px;
  }

  .name{
    margin-bottom: 100px;
  }

  #name-label{
    font-size: 18px;
  }

  #full-name{
    font-size: 14px;
    width: 242px;
  }
  
  .email{
    margin-bottom: 100px;
  }
  
  #email-ID{
  font-size: 18px;
  padding-right: 4px;
  }

  #email{
    font-size: 14px;
    width: 238px;
  }

  .subject{
    margin-bottom: 100px;
  }
  
  #subject-label{
    font-size: 18px;
  }

  #subject-input{
    font-size: 14px;
    width: 230px;
  }

  .comments{
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .comments textarea{
    font-size: 14px;
}
}