.main-container{
  background-image: url("../Resources/repeating-trees-background.png");
  background-size: cover;
  height: 100%;
}

.top-banner{
  display: flex;
  justify-content: center;
}

.top-banner > span{
  border: dotted;
  border-radius: 20px;
  padding: 20px 100px;
  background-color: lightgrey;
  opacity: .7;
  color: rgb(65, 91, 238);
}

.top-banner > span > h1{
  font-size: 50px;
}

.body-container{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.card-containers{
  display: flex;
  justify-content: space-evenly;
  margin: 50px;
}

.card{
  width: 500px;
  height: 500px;
  transition: .25s;
}

.card:hover{
  transform: scale(1.05);
  transition: .25s;
}

.card-img-top{
  max-height: 270px;
}

.card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-primary{
  width: 200px;
}

@media (max-width: 1210px){
  
  .card-containers{
    margin: 20px;
  }
  
  .card{
    width: 350px;
    height: 350px;
  }

  .card-img-top{
    max-height: 175px;
  }

  .card-title{
    font-size: 16px;
  }

  .card-text{
    font-size: 12px;
  }

  .btn-primary{
    width: 125px;
    font-size: 12px;
  }
}

@media (max-width: 788px){
  .body-container{
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 500px){

  .top-banner > span{
    padding: 10px 30px;
  }

  .top-banner > span > h1{
    font-size: 26px;
  }

  .card-containers{
    margin: 15px 5px;
  }

  .card{
    min-width: 280px;
    height: 400px;
  }

  .card-img-top{
    max-height: 180px;
  }

  .card-title{
    /* font-size: 12px; */
  }

  .card-text{
    /* font-size: 9px; */
  }

  .btn-primary{
    width: 125px;
    /* font-size: 9px; */
  }

}