
body{
  background-image: url("../Resources/repeating-trees-background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.mainContainer{
  width: 970px;
  margin: 0px auto 100px;
  background-color: lightgrey;
  display: grid;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
}

.top-banner{
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 50px;
  background-color: rgb(37, 88, 182);
  color: white;
}

.name-container{
  grid-column-start: 1;
  display: flex;
  flex-direction: column;
  padding-left: 100px;
}

h1{
  font-size: 36px;
}

h2{
  font-size: 20px;
}

h3{
  font-size: 26px;
  color: rgb(37, 88, 182);
}

h4{
  font-size: 26px;
}

.name-container > h1{
  font-size: 50px;
}

.contact-info-block{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-symbols{
  width:12px;
  margin-right: 5px;
}

.body-container{
  padding-left: 130px;
  padding-right: 100px;
}

.body-blocks{
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: dashed 1px black;
}

#skills-block > ul{
  padding-top: 20px;
  padding-bottom: 20px;
}

.job-blocks{
  margin: 30px 0 30px;
}

.job-info{
  display: flex;
}

#education-block{
  border-bottom: none;
}

.school-blocks{
  margin-top: 20px;
}

.school-info{
  display:flex;
}

.school-info > h3{
  font-size: 20px;
}

.school-info >h4{
  font-size: 20px;
}

@media (max-width: 990px) {
  .mainContainer{
    width: 600px;
  }

  .top-banner{
    padding: 20px;
  }

  .name-container{
    padding-left: 0px;
  }
  
  .contact-info-block{
    font-size:14px;
  }

  .name-container > h1{
    padding-left: 30px;
    font-size: 30px;
  }

  .body-container{
    padding-left: 50px;
    padding-right: 50px;
  }

  h1{
    font-size: 26px;
  }

  .body-blocks > h1{
    font-size: 20px;
  }

  .job-info > h3{
    font-size: 16px;
  }

  .job-info > h4{
    font-size: 16px;
  }

  .school-info > h3{
    font-size: 16px;
  }

  .school-info > h4{
    font-size: 16px;
  }
}