body{
  background-color: lightgrey;
}



h1{
  color: black;
  display: flex;
  justify-content: center;
}

p{
  width: auto;
  margin-top: 50px;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.navbar-expand-lg{
  display: flex;
  justify-content: center;
}